.flex {
  display: flex;
}

.flexCenter {
  align-items: center;
  justify-content: center;
}

.inline-flex {
  display: inline-flex;
}

.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-baseline {
  align-items: baseline;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.fullFlex {
  flex: 1 1 auto;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.flex-grow-1 {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .justify-center-sm {
    justify-content: center;
  }
  .justify-between-sm {
    justify-content: space-between;
  }
}