@import "fonts";
@import "reset";
@import "transitions";
@import "helpers";
@import "variables";

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: CoreSansC, sans-serif;
  color: var(--color-white);
}

body.overflowHidden {
  overflow: hidden;
}

html, body {
  background-color: var(--color-black);
}

#app {
  flex-grow: 1;
  font-family: CoreSansC, sans-serif;
  display: flex;
  flex-direction: column;
}