.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fadeOut-enter-active {
  transition: opacity 0.3s ease;
}

.fadeOut-leave-active {
  transition: opacity 0.3s cubic-bezier(1, 0, 1, 1);
}
.fadeOut-enter, .fadeOut-leave-to {
  opacity: 0;
}