.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to, .fade-leave-from {
  opacity: 1;
}

.menuInfo-enter-active, .menuInfo-leave-active {
  transition: transform .35s ease, opacity .4s ease;
}

.menuInfo-enter-from, .menuInfo-leave-to {
  opacity: 0;
  transform: translateX(50%);
}

.menuInfo-enter-to, .menuInfo-leave-from {
  opacity: 1;
}

.fadeOut-enter-active {
  transition: opacity 0.3s ease;
}

.fadeOut-leave-active {
  transition: opacity 0.3s cubic-bezier(1, 0, 1, 1);
}
.fadeOut-enter, .fadeOut-leave-to {
  opacity: 0;
}


// carousel Transitions

// center next
.rightNext-enter-active,
.rightPrev-enter-active,
.leftNext-enter-active,
.leftPrev-enter-active,
.centerPrev-enter-active,
.centerNext-enter-active {
  transition: all 0.75s;
}

.rightNext-leave-active,
//.rightPrev-leave-active,
//.leftNext-leave-active,
.leftPrev-leave-active,
//.centerPrev-leave-active,
//.centerNext-leave-active
  {
  transition: all 0.75s;
}

.centerNext-enter-from {
  opacity: 0;
  transform: translateX(-100%) scale(0.8) !important;
}
.centerNext-enter-to, .centerNext-leave-from {
  opacity: 1;
  transform: translateX(-50%) !important;
}
.centerNext-leave-to {
  opacity: 0;
  transform: translateX(0%) scale(0.8) !important;
}

// center prev
.centerPrev-enter-from {
  opacity: 0;
  transform: translateX(0) scale(0.8) !important;
}
.centerPrev-enter-to, .centerPrev-leave-from {
  opacity: 1;
  transform: translateX(-50%) !important;
}
.centerPrev-leave-to {
  opacity: 0;
  transform: translateX(-100%) scale(0.8) !important;
}

// left prev
.leftPrev-enter-from {
  opacity: 0;
  transform: translateX(-75%) scale(0.8) !important;
}
.leftPrev-enter-to, .leftPrev-leave-from {
  opacity: 1;
  transform: translateX(-100%) scale(0.6) !important;
}
.leftPrev-leave-to {
  opacity: 0;
  transform: translateX(-125%) scale(0.4) !important;
}

// left next
.leftNext-enter-from {
  opacity: 0;
  transform: translateX(-125%) scale(0.4) !important;
}
.leftNext-enter-to, .leftNext-leave-from {
  opacity: 1;
  transform: translateX(-100%) scale(0.6) !important;
}
.leftNext-leave-to {
  opacity: 0;
  transform: translateX(-75%) scale(0.8) !important;
}

// right prev
.rightPrev-enter-from {
  opacity: 0;
  transform: translateX(25%) scale(0.4) !important;
}
.rightPrev-enter-to, .rightPrev-leave-from {
  opacity: 1;
  transform: scale(0.6) !important;
}
.rightPrev-leave-to {
  opacity: 0;
  transform: translateX(-25%) scale(0.8) !important;
}

// right next
.rightNext-enter-from {
  opacity: 0;
  transform: translateX(-25%) scale(0.8) !important;
}
.rightNext-enter-to, .rightNext-leave-from {
  opacity: 1;
  transform: scale(0.6) !important;
}
.rightNext-leave-to {
  opacity: 0;
  transform: translateX(25%) scale(0.4) !important;
}