.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to, .fade-leave-from {
  opacity: 1;
}

.menuInfo-enter-active, .menuInfo-leave-active {
  transition: transform .35s ease, opacity .4s ease;
}

.menuInfo-enter-from, .menuInfo-leave-to {
  opacity: 0;
  transform: translateX(50%);
}

.menuInfo-enter-to, .menuInfo-leave-from {
  opacity: 1;
}

.fadeOut-enter-active {
  transition: opacity 0.3s ease;
}

.fadeOut-leave-active {
  transition: opacity 0.3s cubic-bezier(1, 0, 1, 1);
}
.fadeOut-enter, .fadeOut-leave-to {
  opacity: 0;
}