:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #808080;
  --color-nero: #141414;
  --color-eerie: #212121;
  --color-error: #f282ab;

//  z-index
  --z-idx-main-menu-blur: 3;
  --z-idx-main-menu: 4;
  --z-idx-header-items: 5;
  --z-index-header-logo: 2;
  --z-index-modal: 6;
  --z-index-collections: 1;



}