:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #808080;
  --color-nero: #141414;
  --color-eerie: #212121;
  --color-error: #f282ab;

  // z-index
  --z-idx-main-menu-blur: 4;
  --z-idx-main-menu: 5;
  --z-idx-header-items: 6;
  --z-index-header-logo: 3;
  --z-index-modal: 7;
  --z-index-preloader: 8;
  --z-index-click-back: 2;
  --z-index-collections: 1;

  // scene
  --z-index-scene-background: -5;
  --z-index-scene-canvas: -6;
  --z-index-scene-artistLogo: -3;
  --z-index-scene-brandLogo: -3;
  --z-index-scene-cube: -1;
  --z-index-scene-light: -3;
  --z-index-scene-lantern: -2;
  --z-index-blackout: 1;
}